<div class="row">
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findinspeccion" method="POST">
            <input type="search" class="form-control" name="numinspeccion" placeholder="Buscar x Nº Inspección..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Inspección
                </button>

            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findexpediente" method="POST">
            <input type="search" class="form-control" name="expediente" placeholder="Buscar x Expediente..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Expediente
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findadrema" method="POST">
            <input type="search" class="form-control" name="adrema" placeholder="Buscar x Adrema..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Adrema
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findinspector" method="POST">
            <input type="search" class="form-control" name="inspector" placeholder="Buscar x Inspector..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Inspector
                </button>
            </div>
        </form>
    </div>
    {{!-- <div class="form-group btn-center mx-auto">
        <input type='text' placeholder="Buscar Inspección..." />
        <button class="btn btn-warning " type="submit">
            Buscar
        </button>
        <br />
    </div> --}}
    <br /><br />
    <a href="/notes/add" class="btn btn-success btn-block">Cargar Nueva Inspección!</a>
    <br /><br />
    {{#each notes}}
    <div class="text-dark col-md-3">
        <br />
        <div class="card">
            <div class="card-body">
                <h5 class="text-dark display-5 card-title d-flex justify-content-between align-items-center"
                    style="color:rgb(15, 15, 15); font-style:oblique; font-weight: bold;">Origen de Inspección:</h5>
                <p class="text-secondary display-5 card-title d-flex justify-content-between align-items-center">
                <p style="color:brown; font-style:oblique; font-weight: bold;">{{ origeninspeccion }}
                </p>

                <h5 class="text-dark display-5 card-title d-flex justify-content-between align-items-center"
                    style="color:rgb(15, 15, 15); font-style:oblique; font-weight: bold;">Nº Inspección:</h5>
                <p class="text-secondary display-5 card-title d-flex justify-content-between align-items-center">
                <p style="color:brown; font-style:oblique; font-weight: bold;">{{ numinspeccion }}
                </p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Fecha:</p>
                <input type="date" value="{{ date }}" style="color: #29292b" disabled></input>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Nº
                    Expediente:
                </p>
                <p>{{ expediente }}</p>
                {{!-- <p>{{ date }}</p>--}}
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Adrema:</p>
                <p>{{ adrema }}</p>
                <br />

                {{!-- <p style="color:brown; font-style:oblique; font-weight: bold;"><a><i class="fas fa-edit"
                            style='font-size:24px;color:rgb(98, 98, 100)'></i></a> Editar </p>
                href="/notes/edit/{{_id}}"
                --}}
                {{!-- {{#if (name=="Admin")} --}}
                <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/notes/list/{{_id}}"><i
                            class="fas fa-list" style='font-size:24px;color:blue'></i></a> Info Completa</p>
                {{!-- {{/if}} --}}
            </div>
        </div>
    </div>
</div>