<script>

    function ShowName(name) {
        var writtenName = ""
        writtenName = document.getElementById(name).value;
        document.getElementById(name).value = formatToString(writtenName);
    }

    function formatToString(writtenName) {
        var tmp = writtenName.split(" ");
        var fullName;
        tmp.forEach(element => {
            if (fullName) {
                fullName = fullName + " " + element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            } else {
                fullName = element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            }
        })
        return fullName;
    }

    function ponerMayuscula(mayu) {
        let ex = document.getElementById(mayu);
        ex.value = ex.value.toUpperCase();
        //let ex = document.getElementById("numexpediente");
        //ex.value = ex.value.toUpperCase();
        //let y = document.getElementById("adremaexp");
        //y.value = y.value.toUpperCase();
    }


    function ponerminuscula(minus) {
        let ex = document.getElementById(minus);
        ex.value = ex.value.toLocaleLowerCase();
        //let ex = document.getElementById("correofiduciariopropsocio");
        //ex.value = ex.value.toLocaleLowerCase();
    }
</script>

<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="car-header mx-auto">
            <br />
            <h3 style="color:blue; text-decoration:underline; font-weight: bold;">
                Información Expediente Vencido
            </h3>
        </div>
        <div class="card-body">
            <form action="/notes/newexpedcoordin" method="POST">
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Expediente Nº:
                    <input style="color:black" onkeyup="ponerMayuscula('numexpediente')" id="numexpediente" type="text" name="numexpediente"
                        class="form-control" placeholder="Expediente Nº" value="{{expedcoordresultado.numexpediente}}"
                        disabled>
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Estado:
                    <input style="color:black" onkeyup="ShowName('codigoinspector')" type="text" id="estado" name="estado"
                        class="form-control" placeholder="Código Inspector" value="{{expedcoordresultado.estado}}"
                        disabled />
                </div><div style="color:green;font-weight: bold;" class="form-group">
                    Desestimado? (SI/NO):
                    <input style="color:red" onkeyup="ShowName('codigoinspector')" type="text" id="estado" name="estado"
                        class="form-control" placeholder="Código Inspector" value="{{expedcoordresultado.desestimar}}"
                        disabled />
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Código Inspector:
                    <input style="color:black" onkeyup="ShowName('codigoinspector')" type="text" id="codigoinspector" name="codigoinspector"
                        class="form-control" placeholder="Código Inspector" value="{{expedcoordresultado.codigoinspector}}"
                        disabled />
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Inspector (NyA):
                    <input style="color:black" onkeyup="ShowName('inspector')" type="text" id="inspector" name="inspector"
                        class="form-control" placeholder="Inspector (NyA)" value="{{expedcoordresultado.inspector}}"
                        disabled />
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Iniciador (NyA):
                    <input style="color:black" onkeyup="ShowName('iniciadornomyape')" type="text" id="iniciadornomyape"
                        name="iniciadornomyape" class="form-control" placeholder="Iniciador (NyA)"
                        value="{{expedcoordresultado.iniciadornomyape}}" disabled />
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Domicilio:
                    <input style="color:black" onkeyup="ShowName('domicilio')" type="text" id="domicilio" name="domicilio"
                        class="form-control" placeholder="Domicilio" value="{{expedcoordresultado.domicilio}}" disabled />
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Adrema Nº:
                    <input style="color:black" onkeyup="ponerMayuscula('adremaexp')" id="adremaexp" name="adremaexp" class="form-control"
                        placeholder="Nº Adrema" value="{{expedcoordresultado.adremaexp}}" disabled></input>
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Resultado Inspección:
                    <input style="color:green; font-weight: bold;" type="text" name="horainspeccion" class="form-control" placeholder="Resultado Inspección"
                        value="{{expedcoordresultado.resultadoinspeccion}}" disabled></input>
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Fecha Intimación:
                    <input  style="color:black" type="text" name="fechaintimacion" class="form-control" placeholder="------ ------"
                        value="{{expedcoordresultado.fechaintimacion}}" disabled></input>
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Hora Intimación:
                    <input  style="color:black" type="text" name="horaintinacion" class="form-control" placeholder="------ ------"
                        value="{{expedcoordresultado.horaintimacion}}" disabled></input>
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Vencimiento de Intimación:
                    <input  style="color:black" type="text" name="horaintinacion" class="form-control" placeholder="------ ------"
                        value="{{expedcoordresultado.vencimientointimacion}}" disabled></input>
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Fecha Infracción:
                    <input style="color:black" type="text" name="fechainfraccion" class="form-control" placeholder="------ ------"
                        value="{{expedcoordresultado.fechainfraccion}}" disabled></input>
                </div>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    Hora Infracción:
                    <input  style="color:black" type="text" name="horainfraccion" class="form-control" placeholder="------ ------"
                        value="{{expedcoordresultado.horainfraccion}}" disabled></input>
                </div>
                <p></p>
                <div style="color:brown;font-weight: bold;" class="form-group">
                    <a href="javascript:window.history.back();" style="color:blue; font-weight: bold;">
                        &laquo; Volver Atrás
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>