<script>
    function alertaborrar() {
        var mensaje;
        var opcion = confirm("Click en Borrar o Cancelar");
        if (opcion == true) {
            mensaje = "Elemento Borrado";
        } else {
            mensaje = "Cancelado";
        }
        document.getElementById("ejemplo").innerHTML = mensaje;
    }
</script>

<div class="row">
    <br /><br />
    <div style="color: rgb(185, 214, 22);text-shadow: 1px 1px 2px black">
        <h5>SELECCIONES INSPECTOR PARA COORDINACIÓN</h5>
    </div>
    <br /><br />    
    <a href="/expedientes/coordinados/inspectolres/list" class="btn btn-dark btn-block btn-sm">Recargar Todo el Listado</a>
    <br /><br />
    <div class="form-group btn-center mx-auto">
        <br />
        <div class="form-group btn-center mx-auto">
            <table class="table table-striped table-dark table-bordered">
                <thead>
                    <tr id="tdtable" style="background-color: rgb(22, 166, 214);text-shadow: 1px 1px 2px black">
                        {{!-- <td>_ID</td> --}}
                        <td>Nombre</td>
                        <td>D.N.I.</td>
                        <td>Cod.Inspector</td>                        
                        <td>N° Orden</td>
                        <td>Opciones</td>
                        {{!-- <td>Impresión</td> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each inspectores}}
                    <tr>                        
                        <td  style="color:yellow; text-transform: lowercase; text-shadow: 1px 1px 2px black;">{{ name }}</td>
                        <td>{{ dni }}</td>
                        <td>{{ codigoinspector }}</td>
                        <td>{{ numorden }}</td>
                        <td>                            
                            <a class="dropdown-item" href="/expedientes/coordinados/add/{{_id}}"
                                style="color:rgb(165, 196, 28)">Seleccionar</a>                            
                        </td>
                        {{!-- <td>
                            <a class="dropdown-item" href="/multas/reimprimirfactura/{{_id}}"
                                style="color:rgb(123, 196, 28);font-weight: bold;text-shadow: 1px 1px 2px black">ReImprimir</a>
                        </td> --}}
                    </tr>
                    {{else}}
                    <div class="mx-auto">
                        <br /> <br />
                        <div class="card mx-auto">
                            <div class="card-body">
                                <p class"lead" style="color:red; font-weight: bold;"> No existen Datos por Mostrar...
                                </p>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </tbody>
                <div id="msg"></div>
            </table>
            {{!-- <form onSubmit="return confirm('Desea Imprimir?')" action="/multas/imprimir/{{_id}}?_method=POST"
                method="POST">
                <input type="hidden" name="_method" value="POST">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Imprimir Agregados
                </button>
            </form> --}}
            {{!-- <button onclick="agregarimpresion()" class="btn btn-warning">Imprimir Agregados</button> --}}
        </div>
    </div>
</div>