<div class="row">
    {{!-- <div class="form-group btn-center mx-auto">
        <form action="/multa/findnumacta" method="POST">
            <input type="search" class="form-control" name="numacta" placeholder="Buscar x Nº Acta..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar N° Acta
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/multa/findpropietario" method="POST">
            <input type="search" class="form-control" name="propietario" placeholder="Buscar x Propietario..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Propietario
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findubicacion" method="POST">
            <input type="search" class="form-control" name="adrema" placeholder="Buscar x Ubicación..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Ubicación
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findinciso" method="POST">
            <input type="search" class="form-control" name="inspector" placeholder="Buscar x Inciso..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Inciso
                </button>
            </div>
        </form>
    </div> --}}
    <br /><br />
    <a href="/multas/addtasas" class="btn btn-success btn-block">Cargar Nueva Tasa!</a>
    <br /><br />
    {{#each tasas}}


    <div class="text-dark col-md-3">
        <br />
        <div class="card">
            <div class="card-body">
                <h5 class="text-dark display-5 card-title d-flex justify-content-between align-items-center"
                    style="color:rgb(15, 15, 15); font-style:oblique; font-weight: bold;">Tipo de Tasa:</h5>
                <p class="text-secondary display-5 card-title d-flex justify-content-between align-items-center">
                <p style="color:brown; font-style:oblique; font-weight: bold;">{{ tipotasa }}
                </p>
                <h5 class="text-dark display-5 card-title d-flex justify-content-between align-items-center"
                    style="color:rgb(15, 15, 15); font-style:oblique; font-weight: bold;">Monto:</h5>
                <p class="text-secondary display-5 card-title d-flex justify-content-between align-items-center">
                <p style="color:brown; font-style:oblique; font-weight: bold; text-shadow: #050505 1px 0 15px;">$ {{
                    tasaconstruccion }}
                </p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">
                    Observaciones:
                </p>
                <p style="color:brown; font-style:oblique; font-weight: bold;">{{ observaciones }}</p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Fecha
                    Creación:
                </p>
                <input type="date" value="{{ fechaactual }}" style="color: #e75c0c; font-weight: bold;;"
                    disabled></input>
                {{!-- <p>{{ date }}</p>--}}

                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Usuario
                    Cargo:
                </p>
                <p>{{ name }}</p>
                <form onSubmit="return confirm('Desea enviar a Papelera?')" style=""
                    action="/tasas/marcadelete/{{_id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Borrar
                    </button>
                </form>
                {{!-- DELETE FINAL --}}
                {{!-- <form onSubmit="return confirm('Desea Borrar?')" style="box-shadow: 3px 4px;"
                    action="/tasas/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Borrar
                    </button>
                </form> --}}
            </div>
        </div>
    </div>
    {{else}}
    <div class="mx-auto">
        <br /> <br />
        <div class="card mx-auto">
            <div class="card-body">
                <p class"lead" style="color:red; font-weight: bold;"> No existen Tasas Cargadas...</p>
                {{!-- <a href="/notes/add" class="btn btn-success btn-block">Cargar Inspección!</a> --}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>