<script>
    //carga al iniciar la pagina
    window.onload = function () {
        cargar_Sectores()
        //document.getElementById('botonfecha').click();
    }
    // funcion para Cargar Provincias al campo <select>
    function cargar_Sectores() {        
        var todoslossectores = ["Obras", "Via-Publica", "Cartelería"];
        //const rolusuariosborrara = usuarios.rolusuario.toString();
        var sectortraido = document.getElementById("sectortraido").value;
        //elimina con el filter el sector traido del array
        var sectores = todoslossectores.filter(e => e != sectortraido);
        // Ordena el Array Alfabeticamente, es muy facil ;)):
        sectores.sort();
        addOptions("lugartipo", sectores);
    }
    // Rutina para agregar opciones a un <select>
    function addOptions(domElement, sectores) {
        var select = document.getElementsByName(domElement)[0];
        for (value in sectores) {
            var option = document.createElement("option");
            option.text = sectores[value];
            select.add(option);
        }
    }

</script>


<div class="col-md-7 mx-auto">
    <div class="card" style="font-style: italic;font-weight: bold;">
        <div class="card-header mx-auto">
            <h3>Editar Actuación</h3>
        </div>
        <div class="card-body">
            <form action="/actuacion/editactuacion/{{planiregactuainf._id}}?_method=PUT" method="POST">
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Fecha Inicio Tramite
                    <input type="text" name="fechainiciotramite" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.fechainiciotramite}}" style="color: black; font-weight: bold;"
                        disabled>
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Lugar Actuación:
                    <input type="text" class="form-control" id="sectortraido" name="sectortraido"
                        value="{{planiregactuainf.lugartipo }}" style="color: #3d0ee7; font-weight: bold;"
                        readonly />
                    Cambiar Lugar Actuación:
                    <p style="color:brown; font-style:oblique; font-weight: bold;">
                        <select name="lugartipo">
                            <option>{{planiregactuainf.lugartipo}}</option>
                        </select>
                    </p>
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Propietario
                    <input type="text" name="propietario" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.propietario}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Cuit / DNI
                    <input type="text" name="cuitdni" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.cuitdni}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Dirección
                    <input type="text" name="direccion" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.direccion}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Adrema N°
                    <input type="text" name="adrema" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.adrema}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Inspector (N y A)
                    <input name="inspector" class="form-control" style="color: black; font-weight: bold;"
                        value="{{planiregactuainf.inspector}}" style="color: black; font-weight: bold;">

                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Zona
                    <input type="number" name="zona" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.zona}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Descripción
                    <input type="text" name="descripcion" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.descripcion}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Nº intimación
                    <input type="text" name="numerointimacion" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.numerointimacion}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Tipo de Acta
                    <input type="text" name="tipoacta" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.tipoacta}}" style="color: black; font-weight: bold;">
                </div>
                {{!-- <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Fecha Inspección Actual
                    <input type="text" name="inspecfecha" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.inspecfecha}}" style="color: black; font-weight: bold;">
                </div> --}}
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Observaciones
                    <input type="text" name="observacion" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.observacion}}" style="color: black; font-weight: bold;"></input>
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Expediente N°
                    <input type="text" name="expediente" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.expediente}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Número de Faja
                    <input type="text" name="numfaja" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.numfaja}}" style="color: black; font-weight: bold;">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Acta Reiterada
                    <input type="text" name="actareiterada" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.actareiterada}}" style="color: black; font-weight: bold;" />
                </div>
                {{!-- <img style="border-radius:30px;" src="{{planiregactuainf.path}}" width="400" /> <br /><br /> --}}
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    ID Usuario. Carga Actuación
                    <input type="text" name="user" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.user}}" style="color: #e90e0e" readonly />
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    ID Usuario. Carga Actuación
                    <input type="text" name="name" class="form-control" placeholder="Sin Información"
                        value="{{planiregactuainf.name}}" style="color: #e90e0e" readonly />
                </div>
                <label style="color:brown; font-weight:bold">Fotos Inspección::</label>
                <br />
                <div class="form-group">
                    <label style="font-weight:bold">Fotos 1:</label>
                    <br />
                    <a href="{{planiregactuainf.path}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.path}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>
                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Foto 2:</label>
                    <br />
                    <a href="{{planiregactuainf.pathdos}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.pathdos}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>

                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Foto 3:</label>
                    <br />
                    <a href="{{planiregactuainf.pathtres}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.pathtres}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>
                </div>
                <div id="myDIV" class="form-group">
                    <label style="font-weight:bold">Foto 4:</label>
                    <br />
                    <a href="{{planiregactuainf.pathcuatro}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.pathcuatro}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>
                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Foto 5:</label>
                    <br />
                    <a href="{{planiregactuainf.pathcinco}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.pathcinco}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>

                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Foto 6:</label>
                    <br />
                    <a href="{{planiregactuainf.pathseis}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.pathseis}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>

                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Foto 7:</label>
                    <br />
                    <a href="{{planiregactuainf.pathsiete}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.pathsiete}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>

                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Foto 8:</label>
                    <br />
                    <a href="{{planiregactuainf.pathocho}}" target="_blank">
                        <img style="border-radius:30px;" src="{{planiregactuainf.pathocho}}" alt="_Imagen No Cargada"
                            width="250" height="300">
                    </a>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-block" type="submit">
                        Grabar
                    </button>
                </div>
            </form>
            <br />
            <a href="javascript:window.history.back();" style="color:blue; font-weight: bold;">
                &laquo; Volver Atrás
            </a>
        </div>
    </div>

</div>