<script>
    function desabilitar() {
        //document.getElementById("verfactura").hidden = true;
        //document.getElementById("descargarfactura").hidden = true;
        document.getElementById("tabla").hidden = true;
    }

    function selectordenaractuacion() {
        var seleccion = document.getElementById('onderaractuacion');
        if ((seleccion.selectedIndex == 1)) {
            href = "/actuaciones/listado"
        } else if ((seleccion.selectedIndex == 2)) {

        } else if ((seleccion.selectedIndex == 3)) {

        }
    }

</script>

<div class="row">
    <div class="form-group btn-center mx-auto">
        <form action="/actuaciones/findfecha" method="POST">
            <input type="search" maxlength="10" size="11" class="form-control" name="fechainiciotramite"
                placeholder="00-00-0000" autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Fecha
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/actuaciones/findiniciador" method="POST">
            <input type="search" class="form-control" name="propietario" placeholder="Buscar x Iniciador..." />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Iniciador/Propietario
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/actuaciones/findcuitdni" method="POST">
            <input type="search" class="form-control" size="15" name="cuitdni" placeholder="Buscar x Cuit/DNI..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Cuit/DNI
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/actuaciones/findadrema" method="POST">
            <input type="search" class="form-control" size="15" name="adrema" placeholder="Buscar x Adrema..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Adrema
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/actuaciones/findinspector" method="POST">
            <input type="search" class="form-control" name="inspector" placeholder="Buscar x Inspector..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Inspector
                </button>
            </div>
        </form>
    </div>

    <a href="/actuaciones/add" class="btn btn-success btn-block">Agregar Nueva Actuación!</a>
    <a Style="color:red" href="/actuaciones/Estadisticas" class="btn btn-warning btn-block  btn-sm">Crear
        Estadistica!</a>
    <a href="/actuaciones/listado" class="btn btn-outline-warning btn-block btn-sm">Recargar Listado</a>
    <div class="form-group btn-center mx-auto">
        <br />
        <label style="font-weight: bold; color:red;">ORDENAR POR:</label>
        <a style="font-weight: bold; color:red;" href="/actuaciones/listadonombre" class="btn btn-warning btn-sm">Nombre/Apellido</a>
        <a style="font-weight: bold; color:red;" href="/actuaciones/listado" class="btn btn-warning btn-sm">Fecha Actuación</a>
        <a style="font-weight: bold; color:red;" href="/actuaciones/listadocreacion" class="btn btn-warning btn-sm">Fecha Creación</a>
    </div>
    <br />
    <div class="form-group btn-center mx-auto">
        <table id="table" class="table table-dark table-hover">
            <thead>
                <tr style="background-color: rgb(172, 214, 22);font-weight: bold; color:black;">
                    {{!-- <td style="visibility:collapse;">ID</td> --}}
                    <td>Fecha-Inicio</td>
                    <td>Iniciador</th>
                    <td>Domicilio Particular</td>
                    <td>Cuit-Dni</td>
                    <td>Adrema</td>
                    {{!-- <td>Zona</td> --}}
                    <td>LugarTipo</td>
                    <td>Inspector</td>
                    <td>+Datos</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                {{#each planiregactuainf}}
                <tr>
                    {{!-- <td style="visibility:collapse;">{{ _id }}</td> --}}
                    <td style="color:yellow;">{{ fechainiciotramite }}</td>
                    <td style="">{{ propietario }}</td>
                    <td style="">{{ direccion }}</td>
                    <td style="text-transform: lowercase;">{{ cuitdni }}</td>
                    <td style="text-transform: uppercase;">{{ adrema }}</td>
                    {{!-- <td style="text-transform: lowercase;">{{ zona }}</td> --}}
                    <td style="text-transform: lowercase;">{{ lugartipo }}</td>
                    <td style="">{{ inspector }}</td>
                    <td>
                        <a class="dropdown-item" href="/actuaciones/edit/{{_id}}"
                            style="color:rgb(165, 196, 28)">Editar</a>
                    </td>
                    <td>
                        <a class="dropdown-item" href="/actuaciones/list/{{_id}}"
                            style="color:rgb(53, 28, 196);font-weight: bold;text-shadow: 1px 1px 2px black">Info</a>
                        <form onSubmit="return confirm('Desea enviar Papelera?')" style=""
                            action="/actuaciones/marcadelete/{{_id}}?_method=PUT" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <button class="btn btn-danger btn-block btn-sm" type="submit">
                                Borrar
                            </button>
                        </form>
                        {{!-- <form onSubmit="return confirm('Desea Borrar?')"
                            action="/actuaciones/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger btn-block btn-sm" type="submit">
                                Borrar Definitivamente
                            </button>
                        </form> --}}
                    </td>
                </tr>
                {{else}}
                <div class="mx-auto">
                    <br /> <br />
                    <div class="card mx-auto">
                        <div class="card-body">
                            <p class"lead" style="color:red; font-weight: bold;"> No existen Registro Infracción
                                Aun...</p>
                            {{!-- <a href="/notes/add" class="btn btn-success btn-block">Cargar Inspección!</a> --}}
                        </div>
                    </div>
                </div>
                {{!-- BOTON PARA IR ATRAS DESDE EL DOM DE JAVA --}}
                {{!-- <a href="javascript:window.history.back();">&laquo; Volver Menu atrás</a> --}}
                <script>
                    desabilitar()
                </script>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>