<div class="row">
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findinfraccion" method="POST">
            <input type="search" class="form-control" name="actainfnum" placeholder="Buscar x acta Infracción..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Acta
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findexpedienteinf" method="POST">
            <input type="search" class="form-control" name="numexpedienteinf" placeholder="Buscar x Nº Expediente..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Expediente
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findadremainf" method="POST">
            <input type="search" class="form-control" name="adremainf" placeholder="Buscar x Nº Adrema..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Adrema
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/notes/findpropietainf" method="POST">
            <input type="search" class="form-control" name="apellidonombrepropietarioinf" placeholder="Buscar x Propietario..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar Propietario
                </button>
            </div>
        </form>
    </div>
    <br /><br />
    <a href="/infracciones/add" class="btn btn-success btn-block">Cargar Infracciones/Multas!</a>
    <br /><br />
    {{#each infraccions}}
    <div class="text-dark col-md-3">
        <br />
        <div class="card">

            <div class="card-body">
                {{!-- <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a> --}}
                <h5 class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Nº Acta
                    infracción:</h5>
                <p class="text-secondary display-5 card-title d-flex justify-content-between align-items-center">
                <p style="color:brown; font-style:oblique; font-weight: bold;">{{ actainfnum }}
                    {{!-- <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"
                            style='font-size:24px;color:blue'></i></a></p> --}}
                </p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Fecha
                    Infracción:</p>
                    <input type="date" value="{{ fechainfraccion }}" style="color: #29292b" disabled></input>
                {{!-- <p>{{ fechainfraccion }}</p> --}}
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Hora
                    Infracción:</p>
                <p>{{ horainfraccion }}</p>
                {{!-- <p>{{ date }}</p>--}}
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Propietario:</p>
                <p>{{ apellidonombrepropietarioinf }}</p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Inspector a
                    Cargo:</p>
                <p>{{ inspectorinf }}</p>
                <br />

                {{!-- <p style="color:brown; font-style:oblique; font-weight: bold;"><a><i class="fas fa-edit"
                            style='font-size:24px;color:rgb(98, 98, 100)'></i></a> Editar </p>
                href="/notes/edit/{{_id}}" --}}
                <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/infracciones/edit/{{_id}}"><i
                            class="fas fa-edit" style='font-size:24px;color:rgb(98, 98, 100)'></i></a> Editar </p>

                <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/infracciones/list/{{_id}}"><i
                            class="fas fa-list" style='font-size:24px;color:blue'></i></a> Info Completa</p>
                <form style="box-shadow: 3px 4px;" action="/infracciones/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit"> {{!--disabled --}}
                        Borrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="mx-auto">
        <br /> <br />
        <div class="card mx-auto">
            <div class="card-body">
                <p class"lead" style="color:red; font-weight: bold;"> No existen Infracciones Aun...</p>
                {{!-- <a href="/notes/add" class="btn btn-success btn-block">Cargar Inspección!</a> --}}
            </div>
        </div>
    </div>
    {{/each}}
</div>