<div class="row">
    <div class="form-group btn-center mx-auto">
        <form action="/multa/findnumacta" method="POST">
            <input type="search" class="form-control" name="numacta" placeholder="Buscar x Nº Acta..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar N° Acta
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/multa/findpropietario" method="POST">
            <input type="search" class="form-control" name="propietario" placeholder="Buscar x Propietario..."
                autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Propietario
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/multa/findubicacion" method="POST">
            <input type="search" class="form-control" name="adrema" placeholder="Buscar x Ubicación..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Ubicación
                </button>
            </div>
        </form>
    </div>
    <div class="form-group btn-center mx-auto">
        <form action="/multa/findinciso" method="POST">
            <input type="search" class="form-control" name="inspector" placeholder="Buscar x Inciso..." autofocus />
            <div class="form-group">
                <button class="btn btn-warning btn-block btn-sm" type="submit">
                    Buscar x Inciso
                </button>
            </div>
        </form>
    </div>
    <br /><br />
    <a href="/multas/add" class="btn btn-success btn-block">Cargar Nueva multa!</a>
    <a href="/multas" class="btn btn-outline-warning btn-block btn-sm">Recargar Listado</a>
    <br /><br />
    <div class="form-group btn-center mx-auto">
        <br />
        <div class="form-group btn-center mx-auto">
            <table class="table table-dark table-hover">
                <thead>
                    <tr style="background-color: rgb(22, 166, 214);text-shadow: 1px 1px 2px black">
                        <td>Expediente</td>
                        <td>Adrema</td>
                        <td>Propietario</td>
                        <td>Ubicación</td>
                        <td>Formula</td>
                        <td>N° Acta</td>
                        <td>Monto Total</td>
                        <td>+Datos</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each multas}}
                    <tr>
                        <td>{{ expediente }}</td>
                        <td>{{ adrema }}</td>
                        <td>{{ propietario }}</td>
                        <td>{{ ubicacion }}</td>
                        <td>{{ formulamulta }}</td>
                        <td>{{ numacta }}</td>
                        <td>{{ montototal }}</td>
                        <td>
                            {{!-- <a class="dropdown-item" href="/tasas/add/{{_id}}"
                                style="color:rgb(211, 24, 24);font-weight: bold;text-shadow: 1px 1px 2px black;">Agregar</a> --}}
                            <a class="dropdown-item" href="/multas/list/{{_id}}"
                                style="color:rgb(53, 28, 196);font-weight: bold;text-shadow: 1px 1px 2px black">Info</a>
                        </td>
                        <td>
                            {{!-- <a class="dropdown-item" href="/mesaentrada/edit/{{_id}}"
                                style="color:rgb(165, 196, 28)">Editar</a> --}}
                            <form style="" action="/multas/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger btn-block btn-sm" type="submit">
                                    Borrar
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>