<div class="col-md-7 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Turno</h3>
        </div>
        <div class="card-body">
            <form action="/notes/editmesaentrada/{{mesaentrada._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Sector:
                    <input type="text" name="sector" class="form-control" placeholder="Sin Información"
                        value="{{mesaentrada.sector}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Num.Turno
                    <input type="text" name="numturno" class="form-control" placeholder="Num.Inspección"
                        value="{{mesaentrada.numturno}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Fecha de Ingreso
                    <input type="text" name="fechaingreso" class="form-control" placeholder="Expediente"
                        value="{{mesaentrada.fechaingreso}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Hora de Ingreso
                    <input type="text" name="horaingreso" class="form-control" value="{{mesaentrada.horaingreso}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Número de Expediente
                    <input type="numexpediente" name="numexpediente" class="form-control"
                        value="{{mesaentrada.numexpediente}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Nombre y Apellido:
                    <input type="text" name="nomyape" class="form-control" placeholder="Nombre y Apellido"
                        value="{{mesaentrada.nomyape}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    D.N.I.
                    <input type="text" name="dni" class="form-control" placeholder="Documento Nacional Identidad"
                        value="{{mesaentrada.dni}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Contacto
                    <input type="text" name="contacto" class="form-control" placeholder="Contacto"
                        value="{{mesaentrada.contacto}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Observaciones
                    <input type="text" name="observaciones" class="form-control" placeholder="Observaciones"
                        value="{{mesaentrada.observaciones}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Fecha Turno Real
                    <input type="text" name="dateturno" class="form-control" placeholder="Turno fecha Real"
                        value="{{mesaentrada.date}}" disabled>
                </div>
                <br /><br />
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Usuario que Cargó Inspección
                    <input type="text" name="user" class="form-control" placeholder="Fecha Pase A"
                        value="{{mesaentrada.name}}" disabled>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Grabar
                    </button>
                </div>
                <div class="form-group">
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/mesaentrada"><i
                                class="fas fa-list" style='font-size:24px;color:blue'></i></a> Volver Tarjetas</p>
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/mesaentrada/listado"><i
                                class="fas fa-list" style='font-size:24px;color:blue'></i></a> Volver Listado</p>
                    {{!-- <button class="btn btn-primary btn-block" href="/mesaentradas">
                        Volver
                    </button> --}}
                </div>
            </form>
        </div>
    </div>
</div>