<div class="col-md-7 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Intimación</h3>
        </div>
        <div class="card-body">
            <form action="/notes/editintimacion/{{intimacion._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    Boleta Intimación
                    <input type="text" name="boletaintnum" class="form-control" placeholder="Num.Inspección"
                        value="{{intimacion.boletaintnum}}">
                </div>
                <div class="form-group">
                    Expediente
                    <input type="text" name="numexpedienteint" class="form-control" placeholder="Expediente"
                        value="{{intimacion.numexpedienteint}}">
                </div>
                <div class="form-group">
                    Adrema
                    <input type="text" name="adremaint" class="form-control" placeholder="Adrema"
                        value="{{intimacion.adremaint}}">
                </div>
                <div class="form-group">
                    Señor / Señora
                    <input type="text" name="senorsenora" class="form-control" placeholder="señor/señora"
                        value="{{intimacion.senorsenora}}">
                </div>
                <div class="form-group">
                    Domicilio Particular
                    <input type="text" name="domiciliopart" class="form-control" placeholder="Domicilio Particular"
                        value="{{intimacion.domiciliopart}}">
                </div>
                <div class="form-group">
                    Lugar de Actuación
                    <input type="text" name="lugaractuacion" class="form-control" placeholder="Lugar de Actuación"
                        value="{{intimacion.lugaractuacion}}">
                </div>
                <div class="form-group">
                    Se Otorgo el Plazo de
                    <input type="text" name="otorgaplazode" class="form-control" placeholder="Se Otorgo el Plazo de"
                        value="{{intimacion.otorgaplazode}}" disabled>
                </div>
                <div class="form-group">
                    Para el Cumplimiento a
                    <input type="text" name="paracumplimientoa" class="form-control"
                        placeholder="Para el Cumplimiento a" value="{{intimacion.paracumplimientoa}}">
                </div>
                <div class="form-group">
                    Fecha de Intimación
                    <input type="date" name="fechaintimacion" class="form-control" placeholder="Inspector (N y A)"
                        value="{{intimacion.fechaintimacion}}">
                </div>

                <div class="form-group">
                    Hora de Intimación
                    <input type="time" name="horaintimacion" class="form-control" placeholder="Hora de Intimación"
                        value="{{intimacion.horaintimacion}}">
                </div>
                <div class="form-group">
                    Vencimiento de Intimación
                    <input type="date" name="vencimientoint" class="form-control"
                        placeholder="Vencimiento de Intimación" value="{{intimacion.vencimientoint}}" disabled>
                </div>
                <div class="form-group">
                    Noticicado Intimación
                    <input type="text" name="notificadoint" class="form-control" placeholder="Noticicado Intimación"
                        value="{{intimacion.notificadoint}}"></input>
                </div>
                <div class="form-group">
                    Aclaración
                    <input type="text" name="aclaracion" class="form-control" placeholder="Aclaración"
                        value="{{intimacion.aclaracion}}">
                </div>
                <div class="form-group">
                    Número Código Interno
                    <input type="text" name="numcodigoint" class="form-control" placeholder="Pase A"
                        value="{{intimacion.numcodigoint}}">
                </div>
                <div class="form-group">
                    Inspector
                    <input type="text" name="inspectorint" class="form-control" placeholder="Inspector"
                        value="{{intimacion.inspectorint}}">
                </div>
                {{!-- <img style="border-radius:30px;" src="{{intimacion.path}}" width="300" /> <br /><br /> --}}
                Foto 1:
                <br />
                <img style="border-radius:20px;" src="{{intimacion.path}}" alt="_Imagen no Disponible" width="150" />
                <br />
                Foto 2:
                <br />
                <img style="border-radius:20px;" src="{{intimacion.pathdos}}" alt="_Imagen no Disponible" width="150" />
                <br /><br />
                <div class="form-group">
                    Usuario que Cargó Intimación
                    <input type="text" name="name" class="form-control" placeholder="Usuario que Cargó Intimación"
                        value="{{intimacion.name}}" disabled>
                </div>
                <div class="form-group">
                    Fecha Real Cargó Intimación
                    <input type="text" name="date" class="form-control" placeholder="Fecha Real Cargó Intimación"
                        value="{{intimacion.date}}" disabled>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Grabar
                    </button>
                </div>
                <div class="form-group">
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/intimaciones"><i
                                class="fas fa-list" style='font-size:24px;color:blue'></i></a> Volver</p>
                </div>
            </form>
        </div>
    </div>

</div>