<div class="col-md-8 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 style="color:red; text-shadow: 0 0 3px #FF0000;">Editar Expediente</h3>
        </div>
        <div class="card-body">
            <form action="/notes/editexpediente/{{expediente._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
        <div class="card-body">
            {{!-- <form action="/notes/editinfraccion/{{expediente._id}}?_method=PUT" method="POST"> --}}
                {{!-- <input type="hidden" name="_method" value="PUT"> --}}
                <div class="form-group">
                    Expediente Nº:
                    <input type="text" name="numexpediente" class="form-control" placeholder="Num.Expediente"
                        value="{{expediente.numexpediente}}" >
                </div>
                <div class="form-group">
                    Estado:
                    <input type="text" name="estado" class="form-control" placeholder="Estado"
                        value="{{expediente.estado}}" >
                </div>
                <div class="form-group">
                    Iniciador (NyA):
                    <input type="text" name="iniciadornomyape" class="form-control" placeholder="Iniciador"
                        value="{{expediente.iniciadornomyape}}">
                </div>
                <div class="form-group">
                    Domicilio Iniciador:
                    <input type="text" name="domicilio" class="form-control" placeholder="Domicilio Iniciador"
                        value="{{expediente.domicilio}}" >
                </div>
                <div class="form-group">
                    Adrema:
                    <input type="text" name="adremaexp" class="form-control" placeholder="Adrema"
                        value="{{expediente.adremaexp}}" >
                </div>
                <div class="form-group">
                    Fiduciario, propietario o socio (AyN):
                    <input type="text" name="fiduciariopropsocio" class="form-control"
                        placeholder="Fiduciario propietario o socio" value="{{expediente.fiduciariopropsocio}}" >
                </div>
                <div class="form-group">
                    Domicilio Fiduciario, propietario o socio:
                    <input type="text" name="direcfiduciariopropsocio" class="form-control"
                        placeholder="Domicilio Fiduciario propietario o socio" value="{{expediente.direcfiduciariopropsocio}}"></input>
                </div>
                <div class="form-group">
                    Correo Fiduciario, propietario o socio:
                    <input type="text" name="correofiduciariopropsocio" class="form-control" placeholder="Correo Fiduciario propietario o socio"
                        value="{{expediente.correofiduciariopropsocio}}" >
                </div>

                <div class="form-group">
                    Director de obra o perito visor:
                    <input type="text" name="directorobraoperitovisor" class="form-control"
                        placeholder="Director de obra o perito visor" value="{{expediente.directorobraoperitovisor}}" >
                </div>
                <div class="form-group">
                    Destino de Obra:
                    <input type="text" name="destinodeobra" class="form-control"
                        placeholder="Destino de Obra" value="{{expediente.destinodeobra}}" >
                </div>
                
                <div class="form-group">
                    Superficie terreno:
                    <input type="text" name="superficieterreno" class="form-control" placeholder="Superficie terreno"
                        value="{{expediente.superficieterreno}}" >
                </div>
                <div class="form-group">
                    Superficie a construir:
                    <input type="text" name="superficieaconstruir" class="form-control" placeholder="Superficie a construir"
                        value="{{expediente.superficieaconstruir}}" >
                </div>
                <div class="form-group">
                    Superficie subsuelo, planta baja:
                    <textarea type="text" name="superficiesubsueloplantabaja" class="form-control" placeholder="Superficie subsuelo, planta baja"
                        value="{{expediente.superficiesubsueloplantabaja}}" ></textarea>
                </div>
                <div class="form-group">
                    Superficie primer piso y más pisos:
                    <input type="text" name="superficieprimerpisoymaspisos" class="form-control" placeholder="Superficie primer piso y más pisos"
                        value="{{expediente.superficieprimerpisoymaspisos}}" >
                </div>
                <div class="form-group">
                    Observación:
                    <input type="text" name="observaciones" class="form-control" placeholder="Observación"
                        value="{{expediente.observaciones}}" >
                </div>
                <div class="form-group">
                    Permiso obra o acta infracción:
                    <input type="text" name="permisobraoactainfrac" class="form-control" placeholder="Permiso obra o acta infracción"
                        value="{{expediente.permisobraoactainfrac}}" >
                </div>
                <div class="form-group">
                    Foto Expediente:
                    <input type="file" name="inspectorinf" class="form-control" placeholder="Foto Expediente"
                        value="{{expediente.fotoexpediente}}" disabled>
                </div>
                <div class="form-group">
                    Fecha inicio entrada:
                    <input type="date" name="fechainicioentrada" class="form-control" placeholder="Fecha inicio entrada"
                        value="{{expediente.fechainicioentrada}}" >
                </div>
                <div class="form-group">
                    user:
                    <input type="text" name="detallegeneral" class="form-control" placeholder="user"
                        value="{{expediente.name}}" disabled >
                </div>                

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Grabar
                    </button>
                </div>
                <div class="form-group">
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/expedientes"><i class="fas fa-list" style='font-size:24px;color:blue'></i></a> Volver</p> 
                </div>
            </form>
        </div>
    </div>

</div>