<div class="row">
    <a href="/expedientes/" class="btn btn-danger btn-block">Volver a todos los Expedientes</a>
    <br />
    {{#each expedientes}}
    <div class="text-dark col-md-4">
        <br />
        <div class="card">
            <div class="card-body">
                {{!-- <a href="/notes/expedientes/find/{{numexpediente}}"><i class="fas fa-edit"></i></a> --}}
                <h5 class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Nº
                    Expediente:</h5>
                <p class="text-secondary display-5 card-title d-flex justify-content-between align-items-center">
                <p style="color:brown; font-style:oblique; font-weight: bold;">{{ numexpediente }}
                    {{!-- <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"
                            style='font-size:24px;color:blue'></i></a></p> --}}
                </p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">
                    Estado:</p>
                <p>{{ estado }}</p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Iniciador
                    (N y A):</p>
                <p>{{ iniciadornomyape }}</p>
                {{!-- <p>{{ date }}</p>--}}
                <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">Adrema:</p>
                <p>{{ adremaexp }}</p>
                {{!-- <p style="color:brown; font-style:oblique; font-weight: bold;"
                    class="text-dark display-5 card-title d-flex justify-content-between align-items-center">
                    Director de Obra/ Perito Visor:</p>
                <p>{{ directorobraoperitovisor }}</p> --}}
                <br />

                <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/expedientes/edit/{{_id}}"><i
                            class="fas fa-edit" style='font-size:24px;color:rgb(98, 98, 100)'></i></a> Editar </p>
                <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/expedientes/list/{{_id}}"><i
                            class="fas fa-list" style='font-size:24px;color:blue'></i></a> Info Completa</p>
                {{!-- <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/expedientes/delete/{{_id}}"><i
                            class="fas fa-trash" style='font-size:24px;color:rgb(255, 0, 0)'></i></a> Borrar</p> --}}
                
                <form style="box-shadow: 3px 4px;" action="/expedientes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input  type="hidden" name="_method" value="DELETE">
                    <button  class="btn btn-danger btn-block btn-sm" type="submit">
                        Borrar
                    </button>
                </form>

            </div>
        </div>
    </div>
    {{else}}
    <div class="mx-auto">
        <br /> <br />
        <div class="card mx-auto">
            <div class="card-body">
                <p class"lead" style="color:red; font-weight: bold;"> No existe el Dato Buscado...</p>
                {{!-- <a href="/notes/add" class="btn btn-success btn-block">Cargar Inspección!</a> --}}
            </div>
        </div>
    </div>
    {{/each}}
</div>