<div class="col-md-7 mx-auto">
    {{#each users}}
    <div class="card" style="font-style: italic;font-weight: bold;">
        <div class="card-header mx-auto">
            <p></p>
            <h4 style="color: rgb(26, 51, 189); font-weight: bold;">- Usuario Logueado Activo -</h4>
            <div class="card-body">
                <form>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        _ID:
                        <input type="text" name="_id" class="form-control" placeholder="Sin Información" value="{{_id}}"
                            style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Nombres y Apellidos:
                        <input type="text" name="name" class="form-control" placeholder="No Especificado"
                            value="{{ name }}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Correo Electrónico (E-Mail):
                        <input type="text" name="email" class="form-control" placeholder="Sin Información"
                            value="{{ email }}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Rol del Usuario:
                        <input type="text" name="rolusuario" class="form-control" placeholder="Sin Información"
                            value="{{rolusuario}}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Fecha Creación del Usuario:
                        <input type="text" name="date" class="form-control" placeholder="Sin Información"
                            value="{{date}}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <a href="/" class="btn btn-success btn-block">Volver!</a>
            </div>
            </form>
        </div>

    </div>
    {{/each}}
</div>