<div class="col-md-7 mx-auto">
    {{!-- <div id=»reloj» style=»font-family: ‘DS-Digital’; width: 450px; background-color: black;font-size:100px;color:
        green ; text-align: center «></div> --}}
    <div class="card" style="font-style: italic;font-weight: bold;">
        <div class="card-header mx-auto">
            <h4 style="color: #3d0ee7; font-weight: bold;"
                class="text-dark card-title d-flex justify-content-between align-items-center">Información Suplementaria
                Multas/Tasas
            </h4>
            <div class="card-body">
                <form>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Acta:
                        <input type="text" name="user" class="form-control" placeholder="Sin Información"
                            value="{{multas.acta}}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Numº Acta:
                        <input type="text" name="user" class="form-control" placeholder="No Especificado"
                            value="{{ multas.numacta }}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Formula Utilizada:
                        <input type="text" name="user" class="form-control" placeholder="Sin Información"
                            value="{{multas.formulamulta}}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Observaciones:
                        <input type="text" name="user" class="form-control" placeholder="Sin Información"
                            value="{{ multas.observaciones }}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Tasa Utilizada:
                        <input type="text" name="user" class="form-control" placeholder="Sin Información"
                            value="{{ multas.tcactual }}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Monto Total Cobrado:
                        <input type="text" name="name" class="form-control" placeholder="Sin Información"
                            value="{{multas.montototal}}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                        Datos Exactos Creación Multa:
                        <input type="text" name="dateturno" class="form-control" placeholder="Sin Información"
                            value="{{multas.date}}" style="color: black; font-weight: bold;" disabled>
                    </div>
                    <br/>
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/multas"><i
                                class="fas fa-list" style='font-size:24px;color:blue'></i></a> Volver Listado Multas</p>
            </div>
            </form>
        </div>
    </div>
</div>