<div class="col-md-7 mx-auto" style="">
    <div class="card">
        <div class="card-header">
            <h3>Datos de Intimación</h3>
        </div>
        <div class="card-body">
            <form action="/notes/editintimacion/{{intimacion._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    Boleta Intimación
                    <input type="text" name="numinspeccion" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.boletaintnum}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Expediente
                    <input type="text" name="expediente" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.numexpedienteint}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Adrema
                    <input type="text" value="{{intimacion.adremaint}}" name="adrema" class="form-control"
                        placeholder="Sin Información" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Señor / Señora
                    <input type="text" name="señorseñora" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.senorsenora}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Domicilio Particular
                    <input type="text" name="domiciliopart" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.domiciliopart}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Lugar de Actuación
                    <input type="text" name="informeinspnum" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.lugaractuacion}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Se Otorgo el Plazo de
                    <input type="text" name="otorgaplazode" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.otorgaplazode}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Para el Cumplimiento a (Observaciones):
                    <textarea style="resize:none;" type="text" name="paracumplimientoa" class="form-control" rows="2" cols="40"  placeholder="Sin Información"
                        value="{{intimacion.paracumplimientoa}}" style="color: #3d0ee7; font-weight: bold;" disabled></textarea>
                </div>
                <div class="form-group">
                    Fecha de Intimación
                    <input type="date" name="fechaintimacion" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.fechaintimacion}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                {{!-- <div class="form-group">
                    Fotos Instimación:
                    <br /><br />
                    <img style="border-radius:30px;" src="{{intimacion.path}}" width="400" height="" />
                </div> --}}
                <div class="form-group">
                    Hora de Intimación
                    <input type="text" name="horaintimacion" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.horaintimacion}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Vencimiento de Intimación
                    <input type="date" name="vencimientoint" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.vencimientoint}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Noticicado Intimación
                    <input type="text" name="notificadoint" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.notificadoint}}" style="color: #3d0ee7; font-weight: bold;"
                        disabled></input>
                </div>
                <div class="form-group">
                    Aclaración
                    <input type="text" name="aclaracion" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.aclaracion}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Número Código Interno
                    <input type="text" name="numcodigoint" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.numcodigoint}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>
                <div class="form-group">
                    Inspector
                    <input type="text" name="inspectorint" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.inspectorint}}" style="color: #3d0ee7; font-weight: bold;" disabled>
                </div>

              <div class="form-group">
                        <label style="font-weight:bold">Fotos 1:</label>
                        <br />
                        {{!-- <img style="border-radius:30px;" src="{{intimacion.path}}" alt="_Imagen No Cargada"
                            width="400" /> <br /><br /> --}}
                        {{!-- <a href="{{intimacion.path}}">Ver Foto en Grande</a> --}}
                        <a href="{{intimacion.path}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.path}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold">Foto 2:</label>
                        <br />
                        <a href="{{intimacion.pathdos}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.pathdos}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>

                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold">Foto 3:</label>
                        <br />
                        <a href="{{intimacion.pathtres}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.pathtres}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>
                    </div>
                    <div  id="myDIV" class="form-group">
                        <label style="font-weight:bold">Foto 4:</label>
                        <br />
                        <a href="{{intimacion.pathcuatro}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.pathcuatro}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold">Foto 5:</label>
                        <br />
                        <a href="{{intimacion.pathcinco}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.pathcinco}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>

                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold">Foto 6:</label>
                        <br />
                        <a href="{{intimacion.pathseis}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.pathseis}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>

                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold">Foto 7:</label>
                        <br />
                        <a href="{{intimacion.pathsiete}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.pathsiete}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>

                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold">Foto 8:</label>
                        <br />
                        <a href="{{intimacion.pathocho}}" target="_blank">
                            <img style="border-radius:30px;" src="{{intimacion.pathocho}}" alt="_Imagen No Cargada"
                                width="250" height="300" onerror="this.style.display='none'">
                        </a>

                    </div>
                <div class="form-group">
                    ID Usuario. Cargó Intimación
                    <input type="text" name="fechapasea" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.user}}" style="color: red;" disabled>
                </div>
                <div class="form-group">
                    Fecha y Hora Real de Carga
                    <input type="text" name="date" class="form-control" placeholder="Sin Información"
                        value="{{intimacion.date}}" style="color: red;" disabled>
                </div>
                <div class="form-group">
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/intimaciones"><i
                                class="fas fa-list" style='font-size:24px;color:blue'></i></a> Volver</p>
                </div>
            </form>
        </div>
    </div>
</div>