<script>
    function ffechaactual() {
        var tipo = document.getElementById('fecha');
        var eye = document.getElementById('botonfecha');
        if (tipo.type == "date") {
            tipo.type = "date";
            eye.class = "btn btn-primary"
            const fecha = new Date();
            const dia = fecha.getDate();
            var mes = 0
            const calcmes = fecha.getMonth() + 1
            if (calcmes < 10) {
                mes = "0" + calcmes + "-"
            } else {
                mes = calcmes + "-"
            }
            if (dia > 0 && dia < 10) {
                var diastring = "0" + dia
            } else {
                var diastring = dia
            }
            const ano = fecha.getFullYear() + "-"
            //const fullyear = fecha.toLocaleDateString();
            const fullyear = ano + mes + diastring
            //const fullyear = fecha.toLocaleDateString();
            tipo.value = fullyear;
        } else {
            //tipo.disabled = false;
            tipo.type = "date";
            eye.class = "btn btn-secondary"
        }
    }

    function fhoraactual() {
        var tipohora = document.getElementById('horaingreso');
        var eyehora = document.getElementById('botonhora');
        if (tipohora.type == "time") {
            //tipohora.disabled = true;
            tipohora.type = "text";
            eyehora.class = "btn btn-primary"
            const fecha = new Date();
            const h = fecha.getHours() + ":";
            if (m < 10) {
                const m = "0" + fecha.getMinutes();
            } else {
                const m = fecha.getMinutes();
            }
            //s = today.getSeconds();
            const fullhora = h + m // + s
            //const fullyear = fecha.toLocaleDateString();
            horaingreso.value = fullhora;
        } else {
            //tipohora.disabled = false;
            tipohora.type = "time";
            horaingreso.value = "--:--"
            eyehora.class = "btn btn-secondary"
        }
    }



    function selectprofesional() {
        var selectsancion = document.getElementById("profesional")
        var procentajeprof = document.getElementById("porcentajeprofesional")
        if (selectsancion.selectedIndex == 0) {
            procentajeprof.enabled = false;
            procentajeprof.value = "0%"
        } else {
            procentajeprof.enabled = true;
            procentajeprof.value = "200%"
        }
    }
    function seleccionarinciso() {
        //const Tasas = require('../models/Tasas')
        var seleccion = document.getElementById('incisos');
        //const tcfind = await Tasas.find().sort({_id:-1}).lean();
        //var tc = await Task.forEach(tcfind.tasaconstruccion);
        //var tc = tcfind.tasaconstruccion;
        //const tc = await Tasas.find.lean().sort({ date: 'desc' })
        //var tcpru = parseInt(tc.tasaconstruccion)
        //console.log("TASA PRUEBA",tcpru)
        var tc = parseInt({{ tasaactual.tasaconstruccion }})
    var selectsancion = document.getElementById("profesional")
    if (selectsancion.selectedIndex == 1) {
        tc = tc * 2
    }
    //var tc = "52000"
    document.getElementById("volverlistado").style.visibility = "hidden";
    if ((seleccion.selectedIndex == 1)) {
        document.getElementById("acta").value = "INCISO A) 1)";
        document.getElementById("formulamulta").value = "SCSp x 0,15 x TC";
        document.getElementById('labelvalor1').innerHTML = 'SCSp';
        document.getElementById("valor1").value = 20;
        document.getElementById("valor2").value = "0.15";
        document.getElementById("valor3").value = tc;

        var idvalor1 = document.getElementById("valor1").value;
        var idvalor2 = document.getElementById("valor2").value;
        var idvalor3 = document.getElementById("valor3").value;
        var MontoTotal = parseFloat(idvalor1) * parseFloat(idvalor2) * parseFloat(idvalor3)
        var montototaldosdecimales = MontoTotal.toFixed(2)
        document.getElementById("resultado").value = montototaldosdecimales
        var observacionesmas = idvalor1 + "*" + idvalor2 + "*" + idvalor3
        document.getElementById("observacionesmas").value = observacionesmas
        if (montototaldosdecimales > 0) {
            document.getElementById("grabar").style.display = "block";
        } else {
            document.getElementById("grabar").style.display = "none";
        }
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 2)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO A) 2)";
        document.getElementById("formulamulta").value = "SCSp x 0,15 x TC";
        document.getElementById('labelvalor1').innerHTML = 'SCSp';
        document.getElementById("valor2").value = "0.15";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 3)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO A) 3)";
        document.getElementById("formulamulta").value = "SCPp*0,3*TC";
        document.getElementById('labelvalor1').innerHTML = 'SCSp';
        document.getElementById("valor2").value = "0.3";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 4)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.1)";
        document.getElementById("formulamulta").value = "SE*0,2*TC";
        document.getElementById('labelvalor1').innerHTML = "SE";
        document.getElementById("valor2").value = "0.2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 5)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP*1,5*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAP";
        document.getElementById("valor2").value = "1.5";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 6)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)_2";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 7)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.3)";
        document.getElementById("formulamulta").value = "SI*1.5*TC";
        document.getElementById('labelvalor1').innerHTML = "SI";
        document.getElementById("valor2").value = "1.5";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 8)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B)1.3)1.3.1)";
        document.getElementById("formulamulta").value = "SE*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SE";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 9)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.3.2)";
        document.getElementById("formulamulta").value = "SIDEAP*3*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAP";
        document.getElementById("valor2").value = "3";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 10)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.3.2)_2";
        document.getElementById("formulamulta").value = "SIDEAP Pu*4*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "4";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 11)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.3.3)";
        document.getElementById("formulamulta").value = "SI*4*TC";
        document.getElementById('labelvalor1').innerHTML = "SI";
        document.getElementById("valor2").value = "4";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 12)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.3.4)";
        document.getElementById("formulamulta").value = "NCF*25*TC";
        document.getElementById('labelvalor1').innerHTML = "NCF";
        document.getElementById("valor2").value = "25";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 13)) {
        document.getElementById("valor1").value = 1;
        document.getElementById("valor1").disabled = 1;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = 1 * tc;
        document.getElementById("acta").value = "INCISO C)";
        document.getElementById("formulamulta").value = "1*TC";
        document.getElementById('labelvalor1').innerHTML = "Valor";
        document.getElementById("valor2").value = "1";
        var x = document.getElementById("cardinciso");
        document.getElementById("grabar").style.display = "block";
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 14)) {
        document.getElementById("valor1").value = 1;
        document.getElementById("valor1").disabled = 1;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        document.getElementById("grabar").style.display = "block";
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 15)) {
        document.getElementById("valor1").value = 1;
        document.getElementById("valor1").disabled = 1;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = 1 * tc;
        document.getElementById("acta").value = "INCISO E)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("labelvalor1a").style.display = 'none'
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        document.getElementById("grabar").style.display = "block";
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 16)) {
        document.getElementById("valor1").value = 1;
        document.getElementById("valor1").style.display = 'none'
        document.getElementById("valor1").disabled = 1;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = 3 * tc;
        document.getElementById("acta").value = "INCISO F)";
        document.getElementById("formulamulta").value = "3*TC";
        document.getElementById('labelvalor1').innerHTML = "Valor";
        document.getElementById("labelvalor1").style.display = 'none'
        document.getElementById("labelvalor1a").style.display = 'none'
        document.getElementById("valor2").value = "3";
        var x = document.getElementById("cardinciso");
        document.getElementById("grabar").style.display = "block";
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 17)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 18)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 19)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 20)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 21)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 22)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 23)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 24)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 25)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 26)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 27)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 28)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 29)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 30)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 31)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 32)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 33)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } else if ((seleccion.selectedIndex == 34)) {
        document.getElementById("valor1").value = 0;
        document.getElementById("valor3").value = tc;
        document.getElementById("resultado").value = "0.00"
        document.getElementById("acta").value = "INCISO B) 1.2.2)";
        document.getElementById("formulamulta").value = "SIDEAP Pu*2*TC";
        document.getElementById('labelvalor1').innerHTML = "SIDEAPPu";
        document.getElementById("valor2").value = "2";
        var x = document.getElementById("cardinciso");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    }

    function ponermayuscula() {
        let ex = document.getElementById("expediente");
        ex.value = ex.value.toUpperCase();
        let y = document.getElementById("adrema");
        y.value = y.value.toUpperCase();
    }

    function fmontototal() {
        var idvalor1 = document.getElementById("valor1").value;
        var idvalor2 = document.getElementById("valor2").value;
        var idvalor3 = document.getElementById("valor3").value;
        var MontoTotal = parseFloat(idvalor1) * parseFloat(idvalor2) * parseFloat(idvalor3)
        var montototaldosdecimales = MontoTotal.toFixed(2)
        document.getElementById("resultado").value = montototaldosdecimales
        var observacionesmas = idvalor1 + "*" + idvalor2 + "*" + idvalor3
        document.getElementById("observacionesmas").value = observacionesmas
        if (MontoTotal > 0) {
            document.getElementById("grabar").style.display = "block";
        } else {
            document.getElementById("grabar").style.display = "none";
        }
    }
    function ShowName() {
        var writtenName = document.getElementById('propietario').value;
        document.getElementById('propietario').value = formatToString(writtenName);
    }

    function formatToString(writtenName) {
        var tmp = writtenName.split(" ");
        var fullName;
        tmp.forEach(element => {
            if (fullName) {
                fullName = fullName + " " + element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            } else {
                fullName = element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            }
        })
        return fullName;
    }
</script>

<div style="max-width: 95%" class="col-md-8 mx-auto">
    <div class="card">
        <div class="card-body">
            <form action="/notes/newmultas" method="POST">
                <div class="form-group">
                    <div class="car-header mx-auto">
                        <br />
                        <h3 style="font-weight: bold; width: auto; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                    ; color:rgb(24, 24, 26); font-weight: bold; border-radius: 6px;
                    text-shadow: 2px 2px 5px rgb(90, 88, 88)">
                            ACTA DE LIQUIDACIÓN
                        </h3>

                        {{!--
                        <h4 style="color:rgb(65, 65, 124); text-decoration:underline; font-weight: bold;">
                            Se aplicarán multas
                        </h4> --}}
                    </div>
                    <br />
                    <div class="car-header mx-auto"
                        style="max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">
                        {{!-- adrema, expediente, propietario, ubicacion --}}
                        <div>
                            <p style="font-weight: bold; width: 22%; padding: 2px 20px; margin: 0px 0; box-sizing: border-box; 
                    border: 2px solid #1ecc0e; color:rgb(24, 24, 26); font-weight: bold; border-radius: 4px;">
                                DATOS INFRACTOR:
                            </p>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-2">
                                <div class="form-outline">
                                    <label style="font-weight: bold; color:black" class="form-label"
                                        for="typeText">Expediente:</label>
                                    <input onkeyup="ponermayuscula()" style="width: 100%;padding: 12px 20px; margin: 0px 0; 
                            box-sizing: border-box; border: 3px solid #0e0d0d;" value="{{multas.expediente}}"
                                        placeholder="Exped." type="text" name="expediente" id="expediente"
                                        class="form-control" autocomplete="off" autofocus minlength="10"
                                        maxlength="40" />
                                </div>
                            </div>
                            <div class=" col-md-2">
                                <div class="form-outline">
                                    <label style="font-weight: bold; color:black" class="form-label"
                                        for="typeText">Adrema:</label>
                                    <input onkeyup="ponermayuscula()" style="width: 100%;padding: 12px 20px; margin: 0px 0; 
                                    box-sizing: border-box; border: 3px solid #0e0d0d;" placeholder="Adrema"
                                        name="adrema" type="text" id="adrema" class="form-control" autocomplete="off"
                                        value="{{multas.adrema}}" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline">
                                    <label style="font-weight: bold; color:black" class="form-label"
                                        for="typeText">Propietario:</label>
                                    <input onkeyup="ShowName();" style="color:rgb(0, 0, 0); font-weight: bold; width: 100%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                                border-box; border: 3px solid #0e0d0d;" placeholder="Propietario"
                                        name="propietario" type="text" id="propietario" class="form-control"
                                        autocomplete="off" required value="{{multas.propietario}}" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-outline">
                                    <label style="font-weight: bold; color:black" class="form-label"
                                        for="typeText">Ubicación:</label>
                                    <input onkeyup="ponermayuscula()" style="width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                                border-box; border: 3px solid #0e0d0d;" placeholder="Ubicación"
                                        name="ubicacion" type="text" id="ubicacion" class="form-control"
                                        autocomplete="off" required maxlength="40" value="{{multas.ubicacion}}" />

                                </div>
                            </div>
                        </div>
                        <p style="color:rgb(18, 214, 50);text-shadow: #CCC 1px 0 10px;">Tasa de Construcción Actual: $
                            {{tasaactual.tasaconstruccion}}</p>
                        <label style="font-weight: bold; color:rgb(235, 11, 11)" for="incisos">1.6.4)Sanción a
                            Profesionales:</label>
                        <br>
                        <select name="profesionals" id="profesional" onclick="selectprofesional()">
                            <option value="sinsancion">Sin Sanción</option>
                            <option value="consancion">Con Sanción</option>
                        </select>
                        <input style="color: red" id="porcentajeprofesional" value="0%" disabled />
                        <br>
                        <label style="font-weight: bold; color:black" for="incisos">Selecciones tipo
                            infración:</label>
                        <select name="infraccionoparalizacion" id="infraccionoparalizacion">
                            <option value="Infracción">Infracción</option>
                            <option value="Infracción/Paralización">Infracción/Paralización</option>
                        </select>
                        <br />
                        <label style="font-weight: bold; color:black" for="incisos">Selecciones un Inciso:</label>
                        <select name="inciso" id="incisos" onclick="seleccionarinciso()">
                            <option value="">Elija Inciso</option>
                            <option value="a1">a)1) SCPp*0,15*TC</option>
                            <option value="a2">a)2) SCPp*0,15*TC</option>
                            <option value="a3">a)3) SCPp*0,3*TC</option>
                            <option value="b121">b)1.2.1) MULTA=SE*0,2*TC</option>
                            <option value="b122">b)1.2.2) MULTA=SIDEAP*1,5*TC</option>
                            <option value="b122a">b)1.2.2) MULTA=SIDEAP Pu*2*TC</option>
                            <option value="b123">b)1.2.3) MULTA=SI*1.5*TC</option>
                            <option value="b13131">b)1.3)1,3,1) MULTA=SE*2*TC</option>
                            <option value="b132">b)1.3.2) MULTA=SIDEAP x 3 x TC</option>
                            <option value="b132">b)1.3.2)_2 MULTA=SIDEAP Pu. x 4 x TC</option>
                            <option value="b133">b)1.3.3) MULTA=SI*4*TC</option>
                            <option value="b134">b)1.3.4) MULTA=NCF*25*TC</option>
                            <option value="c">c) MULTA=1*TC</option>
                            <option value="d">d) MULTA=1*TC</option>
                            <option value="e">e) MULTA=1*TC</option>
                            <option value="f">f) MULTA=3*TC</option>
                            <option value="g">g) MULTA=S.C.*0,002*TC</option>
                            <option value="h">h) MULTA=0,4*TC</option>
                            <option value="i">i) MULTA=0,5*TC</option>
                            <option value="j">j) MULTA = 1 * TC</option>
                            <option value="k">k) MULTA = 1 * TC/MULTA =5 * TC/MULTA =5 * TC/MULTA = S.C. * TC
                            </option>
                            <option value="l">l) MULTA= 1* TC</option>
                            <option value="ll">ll) MULTA = 1* TC</option>
                            <option value="m">m) MULTA = 2* TC</option>
                            <option value="n">n) MULTA = 0,4 * TC</option>
                            <option value="ene">ñ) MULTA = 0,3 * TC</option>
                            <option value="o">o) MULTA = 0,25 * TC</option>
                            <option value="p">p) MULTA = 0,2 * TC</option>
                            <option value="q">q) MULTA = 1 * TC</option>
                            <option value="r">r) MULTA = 0,5 a 1,3 * TC</option>
                            <option value="s">s) MULTA = 0,4 * TC</option>
                            <option value="t">t) MULTA = 1 * TC</option>
                            <option value="u">u) MULTA = 0,5 a 2 * TC</option>
                            <option value="v">v) MULTA = 0,4 * TC</option>
                            <option value="w">w) MULTA = 0,4 * TC</option>
                        </select>
                        <a id="volverlistado" href="/multas/impresas"
                            class="btn btn-outline-warning btn-block btn-sm">Volver Listado</a>
                    </div>
                    <br />
                    {{!-- INCISOS --}}
                    <div id="cardinciso" class="card-body mx-auto"
                        style="display:none; max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">

                        <label style="font-weight: bold;text-shadow: 2px 2px 5px rgb(134, 133, 133)">INFRACCIÓN Y
                            PARALIZACIÓN</label>
                        <br />
                        <input name="acta" id="acta" style="font-weight: bold; width: 21%; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                                border: 2px solid #cc0e0e; color:rgb(24, 24, 26); border-radius: 4px;"
                            value="INCISO A) 1)" readonly>
                        <input name="formulamulta" id="formulamulta" style="color:blue;font-weight: bold;"
                            value="SCSp x 0,15 x TC" readonly>

                        <div class="col-md-3">
                            <div class="form-outline">
                                <label style="font-weight: bold; color:black" class="form-label" for="typeText">
                                    Fecha:
                                </label>
                                <div class="input-group-append">
                                    <input style="width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                            border-box; border: 3px solid #0e0d0d;" placeholder="fecha" type="date" id="fecha"
                                        name="fecha" class="form-control" autocomplete="off" required>
                                    <label style="color:white">_</label>
                                    <button id="botonfecha" class='btn btn-primary' name="botonfecha" type="button"
                                        onclick="ffechaactual()">
                                        <span class="fa fa-calendar icon"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-outline">
                                <label style="font-weight: bold; color:black" class="form-label" for="typeText">
                                    N° Acta:
                                </label>
                                <input style="width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                            border-box; border: 3px solid #0e0d0d;" placeholder="numacta" type="text" id="idnumacta"
                                    name="numacta" class="form-control" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-1">
                                <div class="form-outline">
                                    <label id="labelvalor1" style="color:blue;font-weight: bold;" class=""
                                        for="typeText">SCSp</label>
                                    <input name="scsp" onkeyup="fmontototal()" style="font-weight: bold; color:black"
                                        type="number" min="0" id="valor1" value="0" required>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-outline">
                                    <label id="labelvalor1a" style="color:blue; font-weight: bold;" class=""
                                        for="typeText">
                                        *
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-outline">
                                    <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">
                                        Valor
                                    </label>
                                    <input onkeyup="fmontototal()" style="font-weight: bold; color:black" type="number"
                                        value="0.15" step="0.01" min="0" id="valor2">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-outline">
                                    <label style="color:blue; font-weight: bold;" class="" for="typeText">
                                        *
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-outline">
                                    <label style="color:blue; font-weight: bold;" class="form-label"
                                        for="typeText">T.C.</label>
                                    <input name="tcactual" onkeyup="fmontototal()" placeholder="Cargue Valor"
                                        style="font-weight: bold; color:black" type="number" step="1" min="0"
                                        id="valor3">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-outline">
                                    <label style="color:blue; font-weight: bold;" class="">
                                        =
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-outline">
                                    <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                                        Monto Total
                                    </label>
                                    <input type="text" name="montototal" id="resultado" style="color:red; 
                                    width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 2px solid #000000;" placeholder="0.00">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-outline">
                                    <input type="text" value="observaciones" name="observaciones" id="observacionesmas"
                                        style="display: none;">
                                </div>
                            </div>
                        </div>
                        {{!-- ACÁ SE GRABA EL FORMULARIO --}}
                        <div id="grabar" class="mx-auto" style="display:none">
                            <button class="btn btn-success btn-block" type="submit">
                                Grabar
                            </button>
                        </div>
                        <p></p>
                        <a href="/multas/impresas" class="btn btn-danger btn-block btn-sm">Volver Listado</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- INCISO B 1 2 1
<div class="card">
    <div class="car-header mx-auto" style="max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">
        <div>
            <p style="font-weight: bold; width: 19%; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                        border: 2px solid #cc0e0e; color:rgb(24, 24, 26); 
                        font-weight: bold; border-radius: 4px;">
                INCISO B) 1.2.1)
            </p>
            <p style="color:blue;font-weight: bold;">
                MULTA=SE*0,2*TC
            </p>
        </div>
        <div class="row my-3">
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Acta:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; 
                                box-sizing: border-box; border: 3px solid #0e0d0d;" placeholder="N° Acta" type="text"
                        id="acta" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Adrema:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Adrema" type="text" id="adrema"
                        class="form-control" autocomplete="off" />

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Expediente:</label>
                    <input style="font-weight: bold; width: 110%;padding: 12px 20px; margin: 1px 5; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Expediente" type="text"
                        id="expediente" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
        <form method="POST"
            oninput="resultado.value=(parseFloat(valor1.value)*parseFloat(valor2.value)*parseFloat(valor3.value)).toFixed(2)">
            <div class="row my-3">
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="" for="typeText">
                            SE
                        </label>
                        <input style="font-weight: bold; color:black" type="number" min="0" id="valor1" value="1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">Valor</label>
                        <input style="font-weight: bold; color:black" type="number" value="0.2" step="0.01" min="0"
                            id="valor2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                            T.C.
                        </label>
                        <input style="font-weight: bold; color:black" type="number" step="10400.00" min="0" id="valor3"
                            value="52000">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">=</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">Monto a
                            Pagar</label><br />
                        <output style="color:red; font-weight: bold; width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 1px solid #000000;" name="resultado" for="valor1 valor2 valor3"
                            type="number" step=".01">10400.00</output>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="car-header mx-auto" style="max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">
        <div>
            <p style="font-weight: bold; width: 19%; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                        border: 2px solid #cc0e0e; color:rgb(24, 24, 26); 
                        font-weight: bold; border-radius: 4px;">
                INCISO B) 1.2.2)
            </p>
            <p style="color:blue;font-weight: bold;">
                MULTA=SIDEAP*1,5*TC
            </p>
        </div>
        <div class="row my-3">
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Acta:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; 
                                box-sizing: border-box; border: 3px solid #0e0d0d;" placeholder="N° Acta" type="text"
                        id="acta" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Adrema:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Adrema" type="text" id="adrema"
                        class="form-control" autocomplete="off" />

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Expediente:</label>
                    <input style="font-weight: bold; width: 110%;padding: 12px 20px; margin: 1px 5; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Expediente" type="text"
                        id="expediente" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
        <form method="POST"
            oninput="resultado.value=(parseFloat(valor1.value)*parseFloat(valor2.value)*parseFloat(valor3.value)).toFixed(2)">
            <div class="row my-3">
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="" for="typeText">
                            SIDEAP
                        </label>
                        <input style="font-weight: bold; color:black" type="number" min="0" id="valor1" value="1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">Valor</label>
                        <input style="font-weight: bold; color:black" type="number" value="0.15" step="0.01" min="0"
                            id="valor2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                            T.C.
                        </label>
                        <input style="font-weight: bold; color:black" type="number" step="52000" min="0" id="valor3"
                            value="52000">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">=</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">Monto a
                            Pagar</label><br />
                        <output style="color:red; font-weight: bold; width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 1px solid #000000;" name="resultado" for="valor1 valor2 valor3"
                            type="number" step=".01">7800.00</output>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="car-header mx-auto" style="max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">
        <div>
            <p style="font-weight: bold; width: 19%; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                        border: 2px solid #cc0e0e; color:rgb(24, 24, 26); 
                        font-weight: bold; border-radius: 4px;">
                INCISO B) 1.2.3)
            </p>
            <p style="color:blue;font-weight: bold;">
                MULTA=SI*1.5*TC
            </p>
        </div>
        <div class="row my-3">
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Acta:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; 
                                box-sizing: border-box; border: 3px solid #0e0d0d;" placeholder="N° Acta" type="text"
                        id="acta" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Adrema:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Adrema" type="text" id="adrema"
                        class="form-control" autocomplete="off" />

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Expediente:</label>
                    <input style="font-weight: bold; width: 110%;padding: 12px 20px; margin: 1px 5; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Expediente" type="text"
                        id="expediente" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
        <form method="POST"
            oninput="resultado.value=(parseFloat(valor1.value)*parseFloat(valor2.value)*parseFloat(valor3.value)).toFixed(2)">
            <div class="row my-3">
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="" for="typeText">
                            SI
                        </label>
                        <input style="font-weight: bold; color:black" type="number" min="0" id="valor1" value="1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">Valor</label>
                        <input style="font-weight: bold; color:black" type="number" value="0.15" step="0.01" min="0"
                            id="valor2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                            T.C.
                        </label>
                        <input style="font-weight: bold; color:black" type="number" step="52000" min="0" id="valor3"
                            value="52000">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">=</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">Monto a
                            Pagar</label><br />
                        <output style="color:red; font-weight: bold; width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 1px solid #000000;" name="resultado" for="valor1 valor2 valor3"
                            type="number" step=".01">7800.00</output>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="car-header mx-auto" style="max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">
        <div>
            <p style="font-weight: bold; width: 22%; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                        border: 2px solid #cc0e0e; color:rgb(24, 24, 26); 
                        font-weight: bold; border-radius: 4px;">
                INCISO B) 1.3)1,3,1)
            </p>
            <p style="color:blue;font-weight: bold;">
                MULTA=SE*2*TC
            </p>
        </div>
        <div class="row my-3">
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Acta:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; 
                                box-sizing: border-box; border: 3px solid #0e0d0d;" placeholder="N° Acta" type="text"
                        id="acta" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Adrema:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Adrema" type="text" id="adrema"
                        class="form-control" autocomplete="off" />

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Expediente:</label>
                    <input style="font-weight: bold; width: 110%;padding: 12px 20px; margin: 1px 5; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Expediente" type="text"
                        id="expediente" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
        <form method="POST"
            oninput="resultado.value=(parseFloat(valor1.value)*parseFloat(valor2.value)*parseFloat(valor3.value)).toFixed(2)">
            <div class="row my-3">
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="" for="typeText">
                            SE
                        </label>
                        <input style="font-weight: bold; color:black" type="number" min="0" id="valor1" value="1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">Valor</label>
                        <input style="font-weight: bold; color:black" type="number" value="2" step="0.01" min="0"
                            id="valor2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                            T.C.
                        </label>
                        <input style="font-weight: bold; color:black" type="number" step="1" min="0" id="valor3"
                            value="104000.00">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">=</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">Monto a
                            Pagar</label><br />
                        <output style="color:red; font-weight: bold; width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 1px solid #000000;" name="resultado" for="valor1 valor2 valor3"
                            type="number" step=".01">104000.00</output>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="car-header mx-auto" style="max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">
        <div>
            <p style="font-weight: bold; width: 19%; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                        border: 2px solid #cc0e0e; color:rgb(24, 24, 26); 
                        font-weight: bold; border-radius: 4px;">
                INCISO B) 1.3.2)
            </p>
            <p style="color:blue;font-weight: bold;">
                MULTA= SIDEAP *3*TC o SIDEAP Pu. x 4 x TC
            </p>
        </div>
        <div class="row my-3">
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Acta:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; 
                                box-sizing: border-box; border: 3px solid #0e0d0d;" placeholder="N° Acta" type="text"
                        id="acta" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Adrema:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Adrema" type="text" id="adrema"
                        class="form-control" autocomplete="off" />

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Expediente:</label>
                    <input style="font-weight: bold; width: 110%;padding: 12px 20px; margin: 1px 5; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Expediente" type="text"
                        id="expediente" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
        <form method="POST"
            oninput="resultado.value=(parseFloat(valor1.value)*parseFloat(valor2.value)*parseFloat(valor3.value)).toFixed(2)">
            <div class="row my-3">
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="" for="typeText">
                            SIDEAP
                        </label>
                        <input style="font-weight: bold; color:black" type="number" min="0" id="valor1" value="1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">Valor</label>
                        <input style="font-weight: bold; color:black" type="number" value="3" step="0.01" min="0"
                            id="valor2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                            T.C.
                        </label>
                        <input style="font-weight: bold; color:black" type="number" step="52000" min="0" id="valor3"
                            value="52000">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">=</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">Monto a
                            Pagar</label><br />
                        <output style="color:red; font-weight: bold; width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 1px solid #000000;" name="resultado" for="valor1 valor2 valor3"
                            type="number" step=".01">156000.00</output>
                    </div>
                </div>
            </div>
        </form>
        <form method="POST"
            oninput="resultado.value=(parseFloat(valor1.value)*parseFloat(valor2.value)*parseFloat(valor3.value)).toFixed(2)">
            <div class="row my-3">
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="" for="typeText">
                            SIDEAPpu
                        </label>
                        <input style="font-weight: bold; color:black" type="number" min="0" id="valor1" value="1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">Valor</label>
                        <input style="font-weight: bold; color:black" type="number" value="4" step="0.01" min="0"
                            id="valor2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                            T.C.
                        </label>
                        <input style="font-weight: bold; color:black" type="number" step="52000" min="0" id="valor3"
                            value="52000">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">=</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">Monto a
                            Pagar</label><br />
                        <output style="color:red; font-weight: bold; width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 1px solid #000000;" name="resultado" for="valor1 valor2 valor3"
                            type="number" step=".01">208000.00</output>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="car-header mx-auto" style="max-width: 95%; padding: 10px; border: 5px solid gray; margin: 0;">
        <div>
            <p style="font-weight: bold; width: 19%; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                        border: 2px solid #cc0e0e; color:rgb(24, 24, 26); 
                        font-weight: bold; border-radius: 4px;">
                INCISO B) 1.3.3)
            </p>
            <p style="color:blue;font-weight: bold;">
                MULTA=SI*4*TC
            </p>
        </div>
        <div class="row my-3">
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Acta:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; 
                                box-sizing: border-box; border: 3px solid #0e0d0d;" placeholder="N° Acta" type="text"
                        id="acta" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Adrema:</label>
                    <input style="font-weight: bold; width: 90%;padding: 12px 20px; margin: 0px 0; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Adrema" type="text" id="adrema"
                        class="form-control" autocomplete="off" />

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline">
                    <label style="font-weight: bold; color:black" class="form-label" for="typeText">Expediente:</label>
                    <input style="font-weight: bold; width: 110%;padding: 12px 20px; margin: 1px 5; box-sizing: 
                                border-box; border: 3px solid #0e0d0d;" placeholder="Expediente" type="text"
                        id="expediente" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
        <form method="POST"
            oninput="resultado.value=(parseFloat(valor1.value)*parseFloat(valor2.value)*parseFloat(valor3.value)).toFixed(2)">
            <div class="row my-3">
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="" for="typeText">
                            SI
                        </label>
                        <input style="font-weight: bold; color:black" type="number" min="0" id="valor1" value="1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue;font-weight: bold;" class="form-label" for="typeText">Valor</label>
                        <input style="font-weight: bold; color:black" type="number" value="4" step="0.01" min="0"
                            id="valor2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">*</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">
                            T.C.
                        </label>
                        <input style="font-weight: bold; color:black" type="number" step="52000" min="0" id="valor3"
                            value="52000">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="" for="typeText">=</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-outline">
                        <label style="color:blue; font-weight: bold;" class="form-label" for="typeText">Monto a
                            Pagar</label><br />
                        <output style="color:red; font-weight: bold; width: 105%;padding: 1px 20px; margin: 0px 0; box-sizing: 
                                    border-box; border: 1px solid #000000;" name="resultado" for="valor1 valor2 valor3"
                            type="number" step=".01">208000.00</output>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
--}}