<script>

    function selecdatoestadistico() {
        const seleccion = document.getElementById('datoestadistico');
        const x = document.getElementById("armarestadistica")
        const imp = document.getElementById("imprimiresadistica")
        const p = document.getElementById("nomyape")
        const a = document.getElementById("adrema")
        const na = document.getElementById("sector")
        const fd = document.getElementById("desde")
        const fa = document.getElementById("hasta")
        //var mtc = document.getElementById("montototalcobrado")        
        if (seleccion.selectedIndex == 0) {
            x.disabled = true;
            imp.style.hidden = true;
            p.disabled = true;
            a.disabled = true;
            na.disabled = true;
            fd.disabled = true;
            fa.disabled = true;
            fd.style.hidden = true;
            fa.style.hidden = true;
            p.type = "text";
            a.type = "text";
            na.type = "text";
            fd.type = "text";
            fa.type = "text";
        }
        else if (seleccion.selectedIndex == 1) {
            x.disabled = false;
            imp.style.hidden = false;
            p.disabled = false;
            //p.style.background= "rgb(130, 185, 192)";
            a.disabled = true;
            na.disabled = true;
            fd.disabled = true;
            fa.disabled = true;
            p.type = "search";
            a.type = "text";
            na.type = "text";
            fd.type = "text";
            fa.type = "text";
            fd.style.hidden = true;
            fa.style.hidden = true;
            p.required = true;
            a.required = false;
            na.required = false;
            fd.required = false;
            fa.required = false;
        } else if (seleccion.selectedIndex == 2) {
            x.disabled = false;
            imp.style.hidden = false;
            p.disabled = true;
            a.disabled = false;
            na.disabled = true;
            fd.disabled = true;
            fa.disabled = true;
            p.type = "text";
            a.type = "search";
            na.type = "text";
            fd.type = "text";
            fa.type = "text";
            fd.style.hidden = true;
            fa.style.hidden = true;
            p.required = false;
            a.required = true;
            na.required = false;
            fd.required = false;
            fa.required = false;
        } else if (seleccion.selectedIndex == 3) {
            x.disabled = false;
            imp.style.hidden = false;
            p.disabled = true;
            a.disabled = true;
            na.disabled = false;
            fd.disabled = true;
            fa.disabled = true;
            p.type = "text";
            a.type = "text";
            na.type = "search";
            fd.type = "text";
            fa.type = "text";
            fd.style.hidden = true;
            fa.style.hidden = true;
            p.required = false;
            a.required = false;
            na.required = true;
            fd.required = false;
            fa.required = false;
        } else if (seleccion.selectedIndex == 4) {
            x.disabled = false;
            imp.style.hidden = false;
            p.disabled = true;
            a.disabled = true;
            na.disabled = true;
            fd.disabled = false;
            fa.disabled = false;
            p.type = "text";
            a.type = "text";
            na.type = "text";
            fd.type = "date";
            fa.type = "date";
            fd.style.hidden = false;
            fa.style.hidden = false;
            p.required = false;
            a.required = false;
            na.required = false;
            fd.required = true;
            fa.required = true;
        }
    }
</script>


<div class="row">
    <div class="form-group btn-center mx-auto">
        <div style="color: rgb(172, 214, 22);text-shadow: 1px 1px 2px black">
            <h5>Mesa de Entrada - ESTADISTICAS (Liquidador/Administrador)</h5>
        </div>
        <form action="/mesaentrada/sacarestadistica" method="POST">
            <label style="font-weight: bold; color:rgb(252, 93, 2)" for="datoestadistico">Selección:</label>
            <select name="datoestadistico" id="datoestadistico" onclick="selecdatoestadistico()">
                <option value=0>Elija Filtro de Estadistica</option>
                <option value=1>por Propietario/dni</option>
                <option value=2>por Adrema</option>
                <option value=3>por Sector</option>
                <option value=4>por Fechas</option>
            </select>
            <br />
            <input class="pl-3" type="text" id="nomyape" name="nomyape" placeholder="Propietario/DNI..." disabled />
            <input class="pl-3" type="text" id="adrema" name="adrema" placeholder="Adrema..." disabled />            
            <input class="pl-3" type="text" id="sector" name="sector" placeholder="Sector..." disabled />                        
            <input class="pl-3" type="text" size="14" id="desde" name="desde" placeholder="Desde..." disabled />
            <input class="pl-3" type="text" size="14" id="hasta" name="hasta" placeholder="Hasta..." disabled />
            <p></p>
            <div class="form-group">
                <button id="armarestadistica" class="btn btn-success btn-block btn-sm" type="submit" disabled>
                    Armar Estadistica...
                </button>
            </div>
        </form>
        <button id="imprimiresadistica" href="/descargarestadisticamesaentrada" class="btn btn-warning btn-block btn-sm" type="hidden">
            Armar e Imprimir Estadistica...
        </button>
        <br />
        {{!-- 
        <div class="form-group">
            <a id="volverlistado" href="/multas" class="btn btn-outline-warning btn-block btn-sm">Volver
                Listado Liquidaciones</a>
        </div> --}}
        <a href="/mesaentrada/estadisticas" class="btn btn-dark btn-block btn-sm">Recargar Todo el Listado</a>
    </div>
    <br /><br />
    <div class="form-group btn-center mx-auto">
        <br />
        <div class="form-group btn-center mx-auto">
            <table class="table table-striped table-dark table-bordered">
                <thead>
                    <tr id="tdtable" style="background-color: rgb(22, 166, 214);text-shadow: 1px 1px 2px black">
                        {{!-- <td>_ID</td> --}}
                        <td>Sector</td>
                        <td>Nombre y Apellido</td>
                        <td>D.N.I.</td>
                        <td>Contacto</td>
                        <td>Fecha/Ingreso</td>
                        <td>Hora/Ingreso</td>
                        <td>Opciones</td>
                        <td>Suplementario</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each mesaentrada}}
                    <tr>
                        {{!-- <td>
                            <input onclick="agregarimpresion()" type="checkbox" href="/multas/list/{{_id}}" id='_id'
                                value=''
                                style="color:rgb(53, 28, 196);font-weight: bold;text-shadow: 1px 1px 2px black"></input>
                        </td> --}}
                        <td>{{ sector }}</td>
                        <td>{{ nomyape }}</td>
                        <td>{{ dni }}</td>
                        <td>{{ contacto }}</td>
                        <td>{{ fechaingreso }}</td>
                        <td>{{ horaingreso }}</td>
                        <td>
                            <a class="dropdown-item" href="/mesaentrada/add/{{_id}}"
                                style="color:rgb(211, 24, 24);font-weight: bold;text-shadow: 1px 1px 2px black;">Agregar</a>
                            <a class="dropdown-item" href="/mesaentrada/list/{{_id}}"
                                style="color:rgb(53, 28, 196);font-weight: bold;text-shadow: 1px 1px 2px black">Info</a>
                        </td>
                        <td>
                            {{!--
                        <td>
                            <a class="dropdown-item" href="/multas/reimprimirfactura/{{_id}}"
                                style="color:rgb(123, 196, 28);font-weight: bold;text-shadow: 1px 1px 2px black">ReImprimir</a>
                        </td> --}}

                    </tr>
                    {{else}}
                    <div class="mx-auto">
                        <br /> <br />
                        <div class="card mx-auto">
                            <div class="card-body">
                                <p class"lead" style="color:red; font-weight: bold;"> No existen Datos por Mostrar...
                                </p>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </tbody>
                <div id="msg"></div>
            </table>
            <div id="montototalcobrado">
                <h4 style="color:rgb(55, 22, 202); font-weight: bold;">
                    Totales:
                    <h4 />
                    <h4
                        style="background-color: #737480; border-radius: 1px; border-color: #000000; border-style: solid; color: #ff0000; font-size: 26px; font-weight: bold;">
                        $ {{contador}}
                        <h4 />
            </div>
        </div>
    </div>
</div>