<div class="col-md-7 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Expediente Uso de Suelo</h3>
        </div>
        <div class="card-body">
            <form action="/usosuelo/editusosuelo/{{usosuelo._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">

                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Fecha Inicio
                    <input type="text" name="fechainicio" class="form-control" placeholder="Expediente"
                        value="{{usosuelo.fechainicio}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Número de Expediente
                    <input type="text" name="expediente" class="form-control" value="{{usosuelo.expediente}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Nombre y Apellido:
                    <input type="text" name="iniciador" class="form-control" placeholder="Nombre y Apellido"
                        value="{{usosuelo.iniciador}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    D.N.I.
                    <input type="text" name="dni" class="form-control" placeholder="Documento Nacional Identidad"
                        value="{{usosuelo.dni}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Extracto
                    <input type="text" name="extracto" class="form-control" placeholder="Contacto"
                        value="{{usosuelo.extracto}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Motivo
                    <input type="text" name="motivo" class="form-control" placeholder="Motivo"
                        value="{{usosuelo.motivo}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Número de Adrema
                    <input type="text" name="adrema" class="form-control"
                        value="{{usosuelo.adrema}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Dirección
                    <input type="text" name="direccion" class="form-control" placeholder="Dirección"
                        value="{{usosuelo.direccion}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Contacto
                    <input type="text" name="contacto" class="form-control" placeholder="Contacto"
                        value="{{usosuelo.contacto}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Profesional
                    <input type="text" name="profesional" class="form-control" placeholder="Profesional"
                        value="{{usosuelo.profesional}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Fecha Ingreso DUS
                    <input type="text" name="fechaingresodus" class="form-control" placeholder="Fecha Ingreso DUS"
                        value="{{usosuelo.fechaingresodus}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Fecha Egreso DUS
                    <input type="text" name="fechaegresodus" class="form-control" placeholder="Fecha Egreso DUS"
                        value="{{usosuelo.fechaegresodus}}">
                </div>
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Observaciones
                    <input type="text" name="observaciones" class="form-control" placeholder="Observaciones"
                        value="{{usosuelo.observaciones}}">
                </div>
                <br />
                <label style="font-weight:bold">Las Fotos no son Editables!</label>
                <br />
                <div>
                    Foto 1:
                    <br />
                    <img style="border-radius:20px;" src="{{usosuelo.path}}" alt="_Imagen no Disponible" 
                    width="230" height="350" />
                    <br />
                    <br />
                    Foto 2:
                    <br />
                    <img style="border-radius:20px;" src="{{usosuelo.pathdos}}" alt="_Imagen no Disponible" 
                    width="230" height="350" />
                    <br />
                    <br />
                    Foto 3:
                    <br />
                    <img style="border-radius:20px;" src="{{usosuelo.pathtres}}" alt="_Imagen no Disponible" 
                    width="230" height="350" />
                    <br />
                </div>
                <br /><br />
                <div class="form-group" style="color:brown; font-style:oblique; font-weight: bold;">
                    Usuario que Cargó Inspección
                    <input type="text" name="user" class="form-control" placeholder="Fecha Pase A"
                        value="{{usosuelo.name}}" disabled>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Grabar
                    </button>
                </div>
                <div class="form-group">
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/usosuelo/listado"><i
                                class="fas fa-list" style='font-size:24px;color:blue'></i></a>
                        Volver Listado
                    </p>
                    {{!-- <button class="btn btn-primary btn-block" href="/usosuelos">
                        Volver
                    </button> --}}
                </div>
            </form>
        </div>
    </div>
</div>